.allproductslider {
  margin: 0px 25px 10px;
}
.api_card {
  margin: 20px 25px 20px;
}
.allproduct {
  font-family: sans-serif;
  color: #0046ba;
  display: flex;
  justify-content: left;
  margin: 5px 25px;
}
.productcard {
  display: flex;
  flex-direction: row;
}
.all_product_price {
  display: flex;
}
.all_productcard_detail {
  margin: 0 20px 10px;
}
.all_product-name {
  display: flex;
  justify-content: start;
}
.all_product_description {
  display: flex;
  justify-content: start;
}
/* productcard1---------- */
.productcard1 {
  margin-top: 20px;
}
