.item {
  width: 210px;
  background-color: white;
}
.item:hover {
  transform: scale(1.05);
  transition: 0.6s;
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.item p {
  margin: 3px 0;
}
.item-prices {
  display: flex;
  gap: 10px;
}
.item-price-new {
  color: #374151;
  font-size: 18px;
  font-weight: 600;
}
.item-price-old {
  color: #8c8c8c;
  font-size: 18px;
  font-weight: 500;
  text-decoration: line-through;
}
.discount {
  color: #cf3132;
  font-weight: 600;
}
.product_details {
  padding: 10px;
}
.unliked {
  color: grey; /* Default color for unliked state */
  cursor: pointer;
  transition: color 0.3s; /* Smooth transition for color change */
  margin: 10px;
}

.liked {
  /* color: red;  */
  cursor: pointer;
  transition: color 0.3s; /* Smooth transition for color change */
  margin: 10px;
}
.addtocartbutton {
  border: none;
}
