/* latest offer ----------------------------------------------------------------------------------------- */

.latestoffer {
  font-family: sans-serif;
  color: #0046ba;
  display: flex;
  margin: 25px 20px;
}

.card {
  border: none;
}
.card:hover {
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.offerdetail {
  display: flex;
}
.offercardimg {
  display: flex;
  justify-content: center;
  text-align: center;
}
/* Offer Button ----------------------------------------------------------------------------------------- */
.offerbtn {
  display: flex;
  justify-content: start;
  padding: 5px 10px;
  border: none;
  background-color: #0046ba;
  color: white;
  border-radius: 48%;
}
.offerbtn:hover {
  background-color: white;
  color: #0046ba;
  border: 1.5px solid #0046ba;
}
/* Combo Offer -------------------------------------------------------------------------------------------- */
.combo {
  font-family: sans-serif;
  color: #0046ba;
  margin: 10px;
  display: flex;
  margin: 25px 20px;
}
.slider {
  margin: 20px 25px;
}
.prdimg {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.prddetails {
  margin: 15px 15px;
  display: block;
  justify-content: flex-start;
  line-height: 10px;
}
.price {
  display: flex;
}
