.login_name {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  color: #0046ba;
}

.auth-form-container,
.login-form,
.register-form {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}
.auth-form-container {
  border-radius: 10px;
  margin: 0.5rem;
}
label {
  text-align: left;
  padding: 0.25rem, 0;
}
.logininput {
  margin: 0.5rem 0;
  /* padding: 1rem; */
  padding: 8px;
  border: none;
  /* border-radius: 10px; */
}
.loginbutton {
  border: none;
  background-color: rgb(236, 164, 164);
  padding: 10px;

  cursor: pointer;
}
.link-btn {
  margin: 10px;
  border: none;
  background: none;
  text-decoration: underline;
}
.img_login {
  display: flex;
  justify-content: space-around;
  padding: 5rem;
  border: 2px solid rgb(217, 217, 230);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 40px;
  margin: 50px;
}
@media screen and (max-width: 850px) {
  .loginimg {
    display: none;
  }
}
