.Singleproduct_carddata {
  margin: 40px;
  background-color: rgb(234, 240, 244);
  display: flex;
}
.singleproduct_heart {
  display: flex;
  justify-content: end;
}
.singleproduct_img {
  padding: 30px;
}
.singleproduct_detail {
  padding: 30px;
}
.singleproduct_price {
  display: flex;
  align-items: center;
}
.singleProductbtn {
  display: flex;
  justify-content: start;
  padding: 5px 10px;
  border: none;
  font-size: 12px;
  margin-left: 10px;
  background-color: #cf3132;
  color: white;
}
.singleProductbtn:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.paymentoption {
  margin-top: -15px;
}
.btn_freedelivery {
  display: flex;
  align-items: center;
  margin-top: -10px;
}
.freedelivery {
  display: flex;
  margin: 10px 10px 0;
}
.unliked {
  color: rgb(196, 193, 193); /* Default color for unliked state */
  cursor: pointer;
  transition: color 0.3s; /* Smooth transition for color change */
  margin: 5px;
}

.liked {
  color: red;
  cursor: pointer;
  transition: color 0.3s; /* Smooth transition for color change */
  margin: 5px;
}
@media (max-width: 950px) {
  .singleproduct_img {
    padding: 0px;
  }
}
@media (max-width: 770px) {
  .Singleproduct_carddata {
    display: block;
  }
}
